header h2{
    font-size: 50px;
    text-align: center;
    background-color: #e29766;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #4c7aa3;
}  
li {
    float: left;
}  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
}
li a:hover {
    background-color: #012845;
}
article img {
    position: relative;
    margin-left: 50px;
    width: 150px;
    height: 150px;
}
table h3 {
    text-align: center;
}
.konten{
    padding: 8% 5%;
    flex-basis: 50%;
    overflow: hidden;
}
article h1 {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 2px;
}
article p{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Lucida Grande';
}
.side {
    background: #f1f1f1;
	float: left;
	width: 25%;
	height: 100%;
    padding: 8% 5%;
    flex-basis: 50%;
    overflow: hidden;
}
.hapus{
    clear: both;
}
footer{
    width: 100%;
	padding: 10px;
    background-color: #e29766;
}
footer p{
    color: #ffffff;
    text-align: center;
}