header h2{
    font-size: 50px;
    text-align: center;
    background-color: #e29766;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #4c7aa3;
}  
li {
    float: left;
}  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
}
li a:hover {
    background-color: #012845;
}
article{
    background-color: #f1f1f1;
}
#sub, #reset{
    border: 0px;
    padding: 8px;
    background-color: #4c7aa3;
    color: #ffffff;
}
#sub:hover, #reset:hover{
    background-color: #012845 ;
}
.hapus{
    clear: both;
}
footer{
    width: 100%;
	padding: 10px;
    background-color: #e29766;
}
footer p{
    color: #ffffff;
    text-align: center;
}