header h2{
    font-size: 50px;
    text-align: center;
    background-color: #e29766;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #4c7aa3;
}  
li {
    float: left;
}  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
}
li a:hover {
    background-color: #012845;
}
article{
    background-color: #f1f1f1;
    padding: 10px 15px;
}
article h1{
    text-align: center;
}
#sub, #reset{
    border: 0px;
    padding: 8px;
    background-color: #4c7aa3;
    color: #ffffff;
}
#sub:hover, #reset:hover{
    background-color: #012845 ;
}
.hapus{
    clear: both;
}
footer{
    width: 100%;
	padding: 10px;
    background-color: #e29766;
}
footer p{
    color: #ffffff;
    text-align: center;
}
.error{
    color: #e29766;
}
#inama, #ialamat, #itelepon, #imail{
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #8aac89;  
    color: black;
}
#iasal{
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #8aac89;  
    color: black;
}
#hasil{
    font-family: Tahoma;
    color: black;
}
#hasil h2{
    background-color: #8aac89;
}
#kumpul, #batal{
    font-family: Tahoma;
    background-color: #e29766;
    width: 25%;
    height: 35px;
    padding: 5px 0;
    border: none;
    color: black;
    font-size: 16pt;
}
#kumpul:hover {
    background-color: sandybrown;
}
#batal:hover{
    background-color: sandybrown;
}